# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-secret-manager
cloud-sql-python-connector
sqlalchemy
pg8000
db-dtypes
vertexai==1.43.0
google-auth
google-oauth
pathlib
pypdf
pdf2image
pydantic
python-multipart
python-Levenshtein
pandas
google-cloud-pubsub
openpyxl
scikit-image
opencv-python
geoip2
roman
numpy
scipy
ruamel-yaml
matplotlib
pygltflib
pillow
fastapi
uvicorn
